<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>图层 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{0,176},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{265,87},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,89}</string>
                <key>textureRect</key>
                <string>{{88,176},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{260,176},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{171,176},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,82}</string>
                <key>spriteSourceSize</key>
                <string>{89,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{176,87},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{178,0},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{265,0},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{0,87},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{87,87},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{89,83}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>refresh.png</string>
            <key>size</key>
            <string>{353,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a57455005c5118e6ae3813e4c7b175d:131229b4b2d81cface271f46fbd3ec1e:c823965bf41e729697a5d8c56078a7f3$</string>
            <key>textureFileName</key>
            <string>refresh.png</string>
        </dict>
    </dict>
</plist>
